.button_wrapper button {
  background: white;
  color: #820082;
  border: 1px solid #820082;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}
.button_wrapper > button:hover,
.active {
  background-color: #820082 !important;
  color: #fff !important;
}
